.tabs {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #eee;
  padding: 1rem;

  .tab {
    padding: 6px 16px;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
    color: #8b8b8b;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: var(--border-radius-medium);
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  @media only screen and (max-width: 1024px) {
    .tab {
      padding: 4px 12px;
      font-size: 14px;
      line-height: 22px;
      border-radius: var(--border-radius-small);
    }
  }

  .active {
    color: #000;
    padding: 6px 16px;
    transition: all 0.2s ease-in-out;
    background-color: #eee;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    cursor: pointer;
    border-radius: var(--border-radius-medium);
    border: none;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  @media only screen and (max-width: 1024px) {
    .active {
      padding: 4px 12px;
      font-size: 14px;
      line-height: 22px;
      border-radius: var(--border-radius-small);
    }
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  @media only screen and (max-width: 1024px) {
    .icon {
      width: 18px;
      height: 18px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .tabs {
    padding: 1rem 0;
  }
}
