* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
    color: black;
  }
}

b {
  font-weight: 600;
}

svg {
  vertical-align: middle;
}

:root {
  --border-radius-large: 8px;
  --border-radius-medium: 6px;
  --border-light: 1px solid #eee;
  --border-dark: 1px solid #333;
}

@keyframes blur {
  0% {
    filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
  }
  100% {
    filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
  }
}
