.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

@media only screen and (max-width: 1024px) {
  .main {
    width: 100%;
    padding: 1rem;
  }
}
.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
