.popoverContainer {
  position: relative;
  display: inline-block;
}

.popoverContent {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 8px;
  border-radius: 4px;
  z-index: 1;
  display: none;
  border: 1px solid #eee;
}

.popoverContainer:hover .popoverContent,
.popoverContainer.clicked .popoverContent {
  display: block;
}

.hidden {
  display: none;
}
