.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  overflow: scroll;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 16px;
  margin: 1rem 0;
}

@media only screen and (max-width: 1024px) {
  .gallery {
    gap: 8px;
    margin: 0;
  }
}

.list {
  width: 600px;
  margin: 0 auto;
  max-width: 100%;
}

@media only screen and (max-width: 1024px) {
  .list {
    width: 100%;
  }
}
