.postContainer {
  color: #000;
  margin: 2rem 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid #eee;

  .statistics {
    margin-top: 0.75rem;
    font-weight: 600;

    .actionIcons {
      display: flex;
      align-items: center;
      margin-top: 0.5rem;
      gap: 0.5rem;
    }

    .statisticsCount {
      margin-top: 0.75rem;
    }
  }

  .imageContainer {
    width: 100%;
    height: 550px;
    position: relative;
    overflow: hidden;
  }

  .image {
    object-fit: cover;
  }

  .captionContainer {
    display: flex;

    .caption {
      margin-top: 0.5rem;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;

      .caption::after {
        content: 'gg';
      }
    }
  }

  .profileContainer {
    padding: 0.5rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .profileImageContainer {
      position: relative;
      width: 40px;
      height: 40px;

      .profileImage {
        border-radius: 100%;
        object-fit: contain;
      }
    }

    .profileInfo {
      margin-left: 0.75rem;

      .profileUsername {
        font-weight: 600;
      }
    }
  }
}
