@keyframes blur {
  0% {
    filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
  }
  100% {
    filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
  }
}
.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 2rem 5rem;
  background-color: white;
  color: black;
}

@media only screen and (max-width: 1024px) {
  .layout {
    width: 100%;
    padding: 0;
  }
}

.main {
  width: 1000px;

  .profileContainer {
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .profileImageContainer {
      width: 100%;
      position: relative;
      overflow: hidden;
      height: 150px;
      width: 150px;
      border-radius: 100%;
      border: 1px solid #eee;

      .profileImage {
        object-fit: cover;
        animation: blur 1s ease-in-out;
      }
    }

    @media only screen and (max-width: 1024px) {
      .profileImageContainer {
        height: 64px;
        width: 64px;
        flex-shrink: 0;
      }
    }

    .profileInfo {
      margin-left: 4rem;
      max-width: 600px;

      .name {
        font-size: 24px;
        line-height: 36px;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .icon {
          width: 18px;
          height: 18px;
        }

        @media only screen and (max-width: 1024px) {
          .icon {
            width: 16px;
            height: 16px;
          }
        }
      }

      @media only screen and (max-width: 1024px) {
        .name {
          font-size: 18px;
          line-height: 26px;
          font-weight: 600;
          gap: 0.25rem;
        }
      }

      .meta {
        margin-top: 1rem;
        color: #8b8b8b;
        gap: 2rem;
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 24px;

        .metaInfo {
          display: flex;
          gap: 2px;
        }

        @media only screen and (max-width: 1024px) {
          .metaInfo .icon {
            width: 18px;
            height: 18px;
          }
        }
      }

      @media only screen and (max-width: 1024px) {
        .meta {
          margin-top: 0.75rem;
          font-size: 14px;
          line-height: 20px;
          gap: 1rem;
        }
      }

      .bio {
        margin-top: 0.5rem;
        font-size: 16px;
        line-height: 24px;
      }

      @media only screen and (max-width: 1024px) {
        .bio {
          margin-top: 0.5rem;
          font-size: 14px;
          line-height: 20px;
        }
      }

      .statistics {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      @media only screen and (max-width: 1024px) {
        .statistics {
          margin-top: 0.75rem;
          display: flex;
          align-items: center;
          gap: 1rem;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }

    @media only screen and (max-width: 1024px) {
      .profileInfo {
        margin-left: 0;
        margin-top: 1rem;
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    .profileContainer {
      flex-direction: column;
      padding: 2rem 0;
    }
  }

  .photos {
    margin: 1rem;
  }

  @media only screen and (max-width: 1024px) {
    .photos {
      width: 100%;
      max-width: 100%;
      margin: 0;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .main {
    width: 100%;
    padding: 1rem;
  }
}

.icon {
  width: 22px;
  height: 22px;
  vertical-align: middle;
}
